<div class="grid">
    <div class="grid-item transparent">
        <ahm-time-machine-wrapper></ahm-time-machine-wrapper>
    </div>
    <div class="grid-item">
        <ahm-layout-machine-area
            [machineList]="machineList"
        ></ahm-layout-machine-area>
    </div>
    <div class="grid-item">
        <ahm-maintenance-schedule></ahm-maintenance-schedule>
    </div>
    <div class="grid-item">
        <ahm-machine-activity></ahm-machine-activity>
    </div>
    <div class="grid-item">
        <ahm-maintenance-indicator-graph-mttr
            [machineList]="machineList"
        ></ahm-maintenance-indicator-graph-mttr>
    </div>
    <div class="grid-item">
        <ahm-production-graph
            [machineList]="machineList"
        ></ahm-production-graph>
    </div>
    <div class="grid-item">
        <ahm-servo-load [machineList]="machineList" />
    </div>
    <div class="grid-item">
        <ahm-maintenance-indicator-graph-mtbf
            [machineList]="machineList"
        ></ahm-maintenance-indicator-graph-mtbf>
    </div>
    <div class="grid-item">
        <ahm-top-machine-alarm></ahm-top-machine-alarm>
    </div>
</div>
