<div class="user-management-upsert">
    <div class="user-management-header">
        <div>
            <h2>{{permissions ? 'Edit' : 'Add'}}</h2>
            <p>Please {{permissions ? 'edit' : 'add'}} register line machine</p>
        </div>
        <div>
            <img alt="file" height="53" ngSrc="/assets/icons/file.svg" width="53">
        </div>
    </div>
    <div [formGroup]="formGroup" class="user-management-content">
        <div>
            <label>Role</label>
            <mat-form-field>
                <mat-select class="permissions-option" formControlName="role">
                    <mat-option *ngFor="let role of roleList" [value]="role.role">{{role.role}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Permission</label>
                <mat-form-field class="input-register-filter">
                    <input placeholder="Filter" matInput [formControl]="notSelectedFormControl">
                </mat-form-field>
                <div>
                    <button class="ahm-menu-btn" (click)="selectBulk()">
                        <img src="/assets/icons/arrow-right.svg" alt="arrow right">
                    </button>
                </div>
                <div class="ahm-menu">
                    <div *ngFor="let permission of filteredNotSelectedPermissionList; let index = index"
                         [class.selected]="permission.selected"
                         (dblclick)="selectPermission(index)"
                         (click)="selectOneMachine(permission)"
                         class="ahm-menu-item">
                        {{permission.claim_type}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label>Permission</label>
                <mat-form-field class="input-register-filter">
                    <input placeholder="Filter" matInput [formControl]="selectedFormControl">
                </mat-form-field>
                <div class="d-flex justify-content-end">
                    <button class="ahm-menu-btn" (click)="unselectBulk()">
                        <img src="/assets/icons/arrow-left.svg" alt="arrow left">
                    </button>
                </div>
                <div class="ahm-menu">
                    <div *ngFor="let permission of filteredSelectedPermissionList; let index = index;"
                         [class.selected]="permission.selected"
                         (dblclick)="unselectPermission(index)"
                         (click)="unselectOneMachine(permission)"
                         class="ahm-menu-item">
                        {{permission.claim_type}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-management-footer">
        <button (click)="submit()"
                class="ahm-btn ahm-btn-primary">Save
        </button>
    </div>

</div>
