.ahm-dialog-delete {
    width: 486px;
    padding-top: 36px;
    padding-bottom: 40px;
    padding-block: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9ba5ac;

    img {
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 12px;
    }

    p {
        margin-bottom: 32px;
    }

    .navigations {
        display: flex;
        gap: 12px;
    }
}

.ahm-dialog {
    width: 708px;
    padding: 24px;
    background: #1b1c22;
    color: white;

    .ahm-dialog-header {
        padding-bottom: 12px;
        border-bottom: 0.2px solid #e5e5ef;

        h2 {
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0;
            text-align: left;
            margin-bottom: 4px;
        }
        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            text-align: left;
            color: #c4c4c4;
            margin-bottom: 0;
        }
    }

    .ahm-dialog-content {
        padding-block: 24px;
        color: white;
    }

    .ahm-dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}
