<ng-container [ngSwitch]="calendarType">
    <ng-container
        *ngSwitchCase="'day'"
        [ngTemplateOutlet]="dayCalendar"
    ></ng-container>
    <ng-container
        *ngSwitchCase="'week'"
        [ngTemplateOutlet]="weekCalendar"
    ></ng-container>
    <ng-container
        *ngSwitchCase="'month'"
        [ngTemplateOutlet]="monthCalendar"
    ></ng-container>
    <ng-container
        *ngSwitchCase="'year'"
        [ngTemplateOutlet]="yearCalendar"
    ></ng-container>
</ng-container>

<ng-template #dayCalendar #weekCalendar #monthCalendar #yearCalendar>
    <div class="calendar-range">
        <button (click)="prevMonth()">
            <img src="/assets/icons/left-arrow.svg" alt="left arrow" />
        </button>
        <div class="calendar-dropdown">
            <select
                [ngModel]="showedDate.getMonth()"
                (ngModelChange)="changeMonth($event)"
            >
                <option
                    *ngFor="let month of monthList; let index = index"
                    [value]="index"
                >
                    {{ month }}
                </option>
            </select>
            <select
                [ngModel]="showedDate.getFullYear()"
                (ngModelChange)="changeYear($event)"
            >
                <option *ngFor="let year of yearList" [value]="year">
                    {{ year }}
                </option>
            </select>
        </div>
        <button (click)="nextMonth()">
            <img src="/assets/icons/right-arrow.svg" alt="left arrow" />
        </button>
    </div>

    <div class="calendar-table">
        <div class="calendar-table-row calendar-table-header">
            <span>Su</span>
            <span>Mo</span>
            <span>Tu</span>
            <span>We</span>
            <span>Th</span>
            <span>Fr</span>
            <span>Sa</span>
        </div>
        <div class="calendar-table-row">
            <span
                *ngFor="let date of dateRange; let index = index"
                (click)="selectDate(index)"
                [class]="date.status"
            >
                {{ date.value }}
            </span>
        </div>
    </div>
</ng-template>
