:host {
    width: 137px;
}

.indicator-container {
    margin-inline: -16px;
    margin-bottom: -12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 11px;
    flex: 1;
}

.indicator-item {
    box-sizing: border-box;
    width: 100%;
    padding-inline: 8px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 13px;
    min-height: calc(50% - 12px);
    background: linear-gradient(
        180deg,
        #33a02c 0%,
        rgba(51, 160, 44, 0.34) 100%
    );

    h6 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 131.9%;
        color: #ffffff;
    }

    .indicator-hour {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1em;
    }

    .indicator-info {
        font-family: 'Inter';
        font-style: normal;
        font-size: 8px;
        line-height: 1em;
        display: flex;
        gap: 4px;
        margin-bottom: 8px;
        align-items: center;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.8);
    }

    .indicator-info-number {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &.down-mtbf {
        background: linear-gradient(
            180deg,
            #0177fb 0%,
            rgba(1, 114, 240, 0.33) 100%
        );

        svg {
            rotate: 180deg;
        }

        path {
            fill: #dc3545;
        }

        .indicator-info,
        .indicator-hour {
            color: #dc3545;
        }
    }

    &.down-mttr {
        background: linear-gradient(
            180deg,
            #33a02c 0%,
            rgba(51, 160, 44, 0.34) 100%
        );
        svg {
            rotate: 180deg;
        }

        path {
            fill: rgb(34, 252, 20);
        }

        .indicator-info,
        .indicator-hour {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

.mttr {
    background: linear-gradient(
        180deg,
        #0177fb 0%,
        rgba(1, 114, 240, 0.33) 100%
    );
    path {
        fill: #dc3545;
    }

    .indicator-info,
    .indicator-hour {
        color: #dc3545;
    }
}
