:host {
    width: 137px;
}

h5 {
    text-align: center;
    line-height: 1.3em;
}

.dashboard-card {
    gap: 8px;
}

.indicator-container {
    margin-inline: -16px;
    margin-bottom: -12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 11px;
    flex: 1;
}

.indicator-item {
    box-sizing: border-box;
    width: 100%;
    padding-inline: 8px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 13px;
    min-height: calc(50% - 12px);
    background: linear-gradient(180deg,  #16a086 0%,
    rgba(51, 160, 44, 0.34) 100%);

    h6 {
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 131.9%;
        color: #FFFFFF;
    }

    .indicator-hour {
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1em;
    }

    .indicator-info {
        font-family: 'Kanit';
        font-style: normal;
        font-size: 8px;
        line-height: 1em;
        display: flex;
        gap: 4px;
        margin-bottom: 8px;
        align-items: center;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.8);
    }

    .indicator-info-number {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &.down-mtbf {
        background: linear-gradient(180deg, #91c090 0%, rgba(71, 91, 70, 0.15) 100%);

        svg {
            rotate: 180deg;
        }

        path {
            fill: #DC3545;
        }

        .indicator-info, .indicator-hour {
            color: #fff;
        }
    }

    &.down-mttr {
        background: linear-gradient(180deg,  #16a086 0%,
        rgba(51, 160, 44, 0.34) 100%);

        svg {
            rotate: 180deg;
        }

        path {
            fill: rgb(34, 252, 20);
        }

        .indicator-info, .indicator-hour {
            color: #FFF;
        }

    }
}

.mttr {
    background: linear-gradient(180deg,#16A086 0%,
    rgba(17, 72, 62, 0.15) 100%);

    path {
        fill: #DC3545;
    }

    .indicator-info, .indicator-hour {
        color: #fff;
    }
}

