:host {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.line {
    display: inline-block;
    width: 14px;
    height: 2px;
}

.dashed {
    display: inline-block;
    width: 14px;
    border-bottom: 2px dotted transparent;
    background: transparent !important;
}

.text {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 16px;
}

.success {
    background: #4caf50;
    border-bottom-color: #4caf50;
}

.danger {
    background: #ff5853;
    border-bottom-color: #ff5853;
}

.warning {
    background: #ffc02d;
    border-bottom-color: #ffc02d;
}

.primary {
    background: #0177fb;
    border-bottom-color: #0177fb;
}
.greenplan{
    background: #279d9d;
    background-color: #279d9d;
}.greenactual{
    background: #286e6e;
    background-color: #286e6e;
}.greenmttrmtbf{
    background: #16A086;
    background-color: #16A086;
}.secondary {
    background: rgba(154, 152, 152, 1);
    border-bottom-color: rgba(154, 152, 152, 1);
}
