<div class="master-upsert">
    <div class="master-header">
        <div>
            <h2>{{ data ? 'Edit' : 'Add' }}</h2>
            <p>Please {{ data ? 'edit' : 'add' }} form maintenance</p>
        </div>
        <div>
            <img
                alt="file"
                height="53"
                ngSrc="/assets/icons/file.svg"
                width="53"
            />
        </div>
    </div>
    <div [formGroup]="formGroup" class="master-content">
        <div>
            <label>Name</label>
            <mat-form-field>
                <input
                    formControlName="name"
                    matInput
                    type="text"
                    value="Sushi"
                />
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Plan</label>
                <mat-form-field>
                    <input formControlName="plan" matInput type="text" />
                </mat-form-field>
            </div>

            <div>
                <label>Date Type</label>
                <mat-form-field>
                    <mat-select
                        class="machine-option"
                        [formControl]="date_type"
                    >
                        <mat-option
                            *ngFor="let data of dateTypeList"
                            [value]="data"
                            >{{
                                data.charAt(0).toUpperCase() + data.slice(1)
                            }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12">
                <label>Custom Range</label>
                <mat-form-field>
                    <input
                        [formControl]="custom_range"
                        matInput
                        type="number"
                        min="1"
                        max="15"
                    />
                </mat-form-field>
            </div>

            <ng-container *ngIf="!isOk">
                <div class="col-12">
                    <label>Start Date</label>
                    <mat-form-field>
                        <input
                            [matDatepicker]="picker"
                            formControlName="start_date"
                            matInput
                        />
                        <mat-datepicker-toggle
                            [for]="picker"
                            matIconSuffix
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            #picker
                            style="width: 0.1em"
                        ></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="master-footer">
        <button (click)="submit()" class="ahm-btn ahm-btn-primary">Save</button>
    </div>
</div>
