.msg-notification{
    text-align: left;
    white-space: pre-wrap;
    max-width: 150px;
}


.enable-notif{
    img{
        cursor: pointer;
    }
}

.ahm-table{
    th{
        text-align: start;
    }

    td{
        text-align: start;
    }
}