.user-management-title {
    margin-bottom: 1em;
}

.user-management-container {
    display: flex;
    gap: 16px;
}

.user-management-item {
    padding: 24px 36px;
    background: #141517;
    border-radius: 12px;
    cursor: pointer;
    text-transform: capitalize;
}
