.detail-machine-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.detail-machine-img {
    text-align: center;
    flex: 1;
    position: relative;

    img {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: auto;
    }
}

.detail-machine-footer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 12px;

    .description {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}
