<div class="detail-machine-container">
    <div class="detail-machine-img">
        <img alt="detail machine" src="/assets/images/detail-machine.png">
    </div>
    <div class="detail-machine-footer">
        <div class="description">
            <p>Running : {{detailMachine?.value_running}} Min</p>
            <p>Stopline : {{detailMachine?.value_stopline}} Min</p>
        </div>
        <div class="description">
            <p>Idle : {{detailMachine?.value_idle}} Min</p>
            <p>Counter : {{detailMachine?.value_counter}}K Shoot</p>
            <p>Running Type : {{detailMachine?.value_running_type}}</p>
        </div>
    </div>

</div>
