<div class="dashboard-header">
    <h5>Ampere</h5>
    <div class="dashboard-header-nav">
      <ahm-datepicker (dateChanged)="onFilterChanged($event)" [dateFilter]="dateFilter"></ahm-datepicker>
      <button class="btn-settings" (click)="goToSettings()">
        <img alt="settings" src="/assets/icons/setting.svg">
      </button>
      <button class="btn-download" (click)="download()">
        <img alt="download" src="/assets/icons/download.svg">
      </button>
    </div>
  </div>
  <div class="dashboard-content">
    <ahm-chart-detail-machine-ampere [data]="ampereList"
                                     [setting]="setting">
                    </ahm-chart-detail-machine-ampere>
  </div>
  <div class="dashboard-footer">
    <div class="chart-legend">
      <ahm-dot type="line" color="danger">Setting</ahm-dot>
      <ahm-dot type="line" color="primary">Actual</ahm-dot>
    </div>
  </div>