<div class="bg-main account-upsert">
    <div>
        
    </div>
    <div [formGroup]="formGroup" class="account-content">
        <div>
            <label>Current Password</label>
            <input formControlName="current_password" type="password">
        </div>
        <div>
            <label>New Password</label>
            <input formControlName="new_password" type="password">
        </div>
        <div>
            <label>Repeat Password</label>
            <input formControlName="repeat_password" type="password">
        </div>
    </div>
    <div class="account-footer">
        <button (click)="cancel()"
                class="ahm-btn ahm-btn-cancel">Cancel
        </button>
        <button (click)="save()"
                class="ahm-btn ahm-btn-primary">Save
        </button>
    </div>
</div>