.ahm-menu-btn {
    background-color: #0177FB;
    border-radius: 50%;
    outline: 0;
    border-width: 0;
    margin-bottom: 6px;
    cursor: pointer;
}

.ahm-menu {
    background-color: #30303D;
    height: 144px;
    overflow-y: auto;
    margin-bottom: 16px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin-right: -4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #A0A0A0;
        border-radius: 50px;
    }
}

.ahm-menu-btn {
    background-color: #0177FB;
    border-radius: 50%;
    outline: 0;
    border-width: 0;
    margin-bottom: 6px;
    cursor: pointer;
}

.ahm-menu-item {
    padding: 8px;
    color: #A0A0A0;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: #454550!important;
        transition: .2s;
    }

    &.selected {
        background-color: #595964!important;
        transition: .2s;
    }
}
