<div class="master-upsert">
    <div class="master-header">
        <div>
            <h2>{{ masterData ? 'Edit' : 'Add' }}</h2>
            <p>
                Please {{ masterData ? 'edit' : 'add' }} register line machine
            </p>
        </div>
        <div>
            <img
                alt="file"
                height="53"
                ngSrc="/assets/icons/file.svg"
                width="53"
            />
        </div>
    </div>
    <div [formGroup]="formGroup" class="master-content">
        <div>
            <label>Line</label>
            <mat-form-field>
                <mat-select class="machine-option" formControlName="line_id">
                    <mat-option
                        *ngFor="let line of lineList"
                        [value]="line.id"
                        >{{ line.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Machine</label>
                <mat-form-field class="input-register-filter">
                    <input
                        placeholder="Filter"
                        matInput
                        [formControl]="notSelectedFormControl"
                    />
                </mat-form-field>
                <div>
                    <button class="ahm-menu-btn" (click)="selectBulk()">
                        <img
                            src="/assets/icons/arrow-right.svg"
                            alt="arrow right"
                        />
                    </button>
                </div>
                <div class="ahm-menu">
                    <div
                        *ngFor="
                            let machine of filteredNotSelectedMachineList;
                            let index = index
                        "
                        [class.selected]="machine.selected"
                        (dblclick)="selectMachine(index)"
                        (click)="selectOneMachine(machine)"
                        class="ahm-menu-item"
                    >
                        {{ machine.name }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label>Machine</label>
                <mat-form-field class="input-register-filter">
                    <input
                        placeholder="Filter"
                        matInput
                        [formControl]="selectedFormControl"
                    />
                </mat-form-field>
                <div class="d-flex justify-content-end">
                    <button class="ahm-menu-btn" (click)="unselectBulk()">
                        <img
                            src="/assets/icons/arrow-left.svg"
                            alt="arrow left"
                        />
                    </button>
                </div>
                <div class="ahm-menu">
                    <div
                        *ngFor="
                            let machine of filteredSelectedMachineList;
                            let index = index
                        "
                        [class.selected]="machine.selected"
                        (dblclick)="unselectMachine(index)"
                        (click)="unselectOneMachine(machine)"
                        class="ahm-menu-item"
                    >
                        {{ machine.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="master-footer">
        <button (click)="submit()" class="ahm-btn ahm-btn-primary">Save</button>
    </div>
</div>
