<div class="user-management-list">
    <div class="user-management-header">
        <h2>List Machine</h2>
    </div>
    <div class="user-management-content">
        <div class="user-management-content-filter">
            <div class="ahm-input-wrapper">
                <img alt="search" ngSrc="/assets/icons/search.svg" height="27" width="26">
                <input [formControl]="searchTerm" placeholder="Search" type="text">
            </div>
        </div>
        <div class="ahm-table">
            <table (matSortChange)="sortData($event)" matSort>
                <tr>
                    <th>No</th>
                    <th mat-sort-header="bid">Username</th>
                    <th mat-sort-header="name">Email</th>
                    <th mat-sort-header="createdat">Role</th>
                    <th mat-sort-header="createdat">Password</th>
                    <th mat-sort-header="createdat">Last Created</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let data of userList; let index = index">
                    <td>{{(index + 1)}}</td>
                    <td>{{data.username}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.role}}</td>
                    <td>{{data.password}}</td>
                    <td>{{data.last_created}}</td>
                    <td>
                        <div class="ahm-table-action">
                            <button (click)="detail(data)" class="ahm-table-btn ahm-btn-success">
                                <img alt="Detail" src="/assets/icons/eye.svg">
                            </button>
                            <button (click)="edit(data)" class="ahm-table-btn ahm-btn-warning">
                                <img alt="Edit" src="/assets/icons/edit.svg">
                            </button>
                            <button (click)="delete(data)" class="ahm-table-btn ahm-btn-danger">
                                <img alt="Delete" src="/assets/icons/delete.svg">
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <ahm-paginator (selectedLimit)="onSelectLimit($event)"
                       (selectedPage)="onSelectPage($event)"
                       [pagination]="pagination"></ahm-paginator>
    </div>
</div>

