:host {
    display: flex;
    gap: 8px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #616161;
    cursor: pointer;
    transition: .2s;

    &.active {
        background: #FFFFFF;
        transition: .2s;
    }
}

