<div class="dashboard-header">
    <h5>Production Graph</h5>
    <div class="dashboard-header-nav">
        <ahm-datepicker
            (dateChanged)="onFilterChanged($event)"
            [dateFilter]="dateFilter"
        ></ahm-datepicker>
        <button class="btn-settings" (click)="goToSettings()">
            <img alt="settings" src="/assets/icons/setting.svg" />
        </button>
    </div>
</div>
<div class="dashboard-content">
    <ahm-chart-production-graph
        [data]="productionGraph"
    ></ahm-chart-production-graph>
</div>
<div class="dashboard-footer justify-content-between">
    <div class="chart-legend">
        <ahm-dot color="primary">Plan</ahm-dot>
        <ahm-dot color="success">Actual</ahm-dot>
    </div>
    <!-- <ahm-pagination (onPageChange)="onPageChange($event)"
                    [page]="page"
                    [totalPage]="machineList.length"></ahm-pagination> -->
</div>
