<nav>
    <div class="navbar-left-area">
        <img (click)="toggle()" src="/assets/icons/hamburger.svg" />
        <h1>Digitalization Welding Frame Body P3</h1>
    </div>

    <div class="navbar-right-area">
        <div class="navbar-date">
            <span>
                {{ todaysDate | date : "EEEE, dd MMMM y" | uppercase }}
            </span>
            <span> | </span>
            <span> {{ todaysDate | date : "hh:mm:ss" }} </span>
        </div>
        <div class="navbar-notification">
            <button mat-button [matMenuTriggerFor]="beforeMenu">
                <img alt="" src="/assets/icons/notification.svg" />
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <div class="wrapper-notification">
                    <div *ngFor="let msg of tempMiror">
                        <div class="notification-msg" mat-menu-item>
                            <img alt="" src="/assets/icons/notification.svg" />
                            <div class="left-span">
                                <span class="lable-title">Temperatur Miror</span>
                                <span class="lable-info"
                                *ngIf="msg.message.length < 10 ">{{msg.message.slice(0,10)}}</span>
                            <span class="lable-info"
                                *ngIf="msg.message.length > 10">{{msg.message.slice(0,10)}}...</span>                            </div>
                            <span class="right-span">{{msg.label}}</span>
                        </div>
                    </div>
                    <div *ngFor="let msg of rurgeCell ">
                        <div class="notification-msg" mat-menu-item>
                            <img alt="" src="/assets/icons/notification.svg" />
                            <div class="left-span">
                                <span class="lable-title">Rurge Cell</span>
                                <span class="lable-info"
                                *ngIf="msg.message.length < 10 ">{{msg.message.slice(0,10)}}</span>
                            <span class="lable-info"
                                *ngIf="msg.message.length > 10">{{msg.message.slice(0,10)}}...</span>                            </div>
                            <span class="right-span">{{msg.label}}</span>
                        </div>
                    </div>
                    <div *ngFor="let msg of dewPoint">
                        <div class="notification-msg" mat-menu-item>
                            <img alt="" src="/assets/icons/notification.svg" />
                            <div class="left-span">
                                <span class="lable-title">Dew Poinnt</span>
                                <span class="lable-info"
                                *ngIf="msg.message.length < 10 ">{{msg.message.slice(0,10)}}</span>
                            <span class="lable-info"
                                *ngIf="msg.message.length > 10">{{msg.message.slice(0,10)}}...</span>                            </div>
                            <span class="right-span">{{msg.label}}</span>
                        </div>
                    </div>
                    <div *ngFor="let msg of sansoMantic ">
                        <div class="notification-msg" mat-menu-item>
                            <img alt="" src="/assets/icons/notification.svg" />
                            <div class="left-span">
                                <span class="lable-title">Sanso Matic</span>
                                <span class="lable-info"
                                *ngIf="msg.message.length < 10 ">{{msg.message.slice(0,10)}}</span>
                            <span class="lable-info"
                                *ngIf="msg.message.length > 10">{{msg.message.slice(0,10)}}...</span>                            </div>
                            <span class="right-span">{{msg.label}}</span>
                        </div>
                    </div>
                    <div *ngFor="let msg of rpmSpindle">
                        <div class="notification-msg" mat-menu-item>
                            <img alt="" src="/assets/icons/notification.svg" />
                            <div class="left-span">
                                <span class="lable-title">RPM Spindle</span>
                                <span class="lable-info"
                                    *ngIf="msg.message.length < 10 ">{{msg.message.slice(0,10)}}</span>
                                <span class="lable-info"
                                    *ngIf="msg.message.length > 10">{{msg.message.slice(0,10)}}...</span>
                            </div>
                            <span class="right-span">{{msg.label}}</span>
                        </div>
                    </div>
                </div>
                <button mat-menu-item (click)="seeAllNotification()">See All Notifications</button>
            </mat-menu>

        </div>
    </div>
</nav>