nav {
    width: 100%;
    background-color: #232524;
    box-sizing: border-box;
    height: 80px;
    border-radius: 10px;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    top: 0;
}

.navbar-left-area {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
        height: 24px;
        width: auto;
        cursor: pointer;
    }

    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        margin: 0;
    }
}

.navbar-date {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;

    span:nth-child(2),
    span:nth-child(3) {
        font-weight: 500;
    }
}

.navbar-right-area {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 80px;

    img {
        cursor: pointer;
    }
}

.navbar-notification {
    button {
        background-color: #141517;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
    }

    .dropbtn {
        color: white;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border: none;
        cursor: pointer;

        span {
            position: absolute;
            background-color: red;
            border-radius: 100%;
            text-align: center;
            width: fit-content;
            min-width: 1.4rem;
            padding: 0.4rem;
            font-size: 0.6rem;
            top: 0;
            right: 0;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2b2d31;
        width: 20rem;
        height: 20rem;
        max-height: 20rem;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 1rem;
        border-radius: 0.2rem;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        background-color: #2b2d31;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .cover-msg {
            height: 70%;
            overflow: auto;
        }

        .notif-info {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 60%;

            .icon-notif {
                cursor: default;
            }

            .msg-notif {
                display: flex;
                flex-direction: column;
                margin: 0 1rem 0 0;
                width: 70%;
            }
        }

        .action-notif {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 1rem;
            position: relative;
            right: 0;

            button {
                background-color: black;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.4rem;
                font-size: 1rem;
            }
        }
    }

    .lable-notif {
        position: sticky;
        width: 100%;
    }
    .all-notif {
        position: sticky;
        bottom: 0px;
        width: 100%;
        text-align: center;
        border-top: 1px solid white;
        cursor: pointer;
    }

    .cover-msg:hover {
        background-color: #2b2d31;
    }

    .dropdown-content::-webkit-scrollbar {
        width: 8px;
    }

    .dropdown-content::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    .dropdown-content::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .dropdown-content::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 4px;
    }

    .show {
        display: block;
    }
}
