<nav>
    <div class="navbar-left-area">
        <img (click)="toggle()" src="/assets/icons/hamburger.svg" />
        <h1>Digitalization Welding Frame Body P3</h1>
    </div>

    <div class="navbar-right-area">
        <div class="navbar-date">
            <span>
                {{ todaysDate | date : "EEEE, dd MMMM y" | uppercase }}
            </span>
            <span> | </span>
            <span> {{ todaysDate | date : "hh:mm:ss" }} </span>
        </div>
        <div class="navbar-notification">
            <div class="dropdown">
                <button (click)="toggleDropdown()" class="dropbtn">
                    <span *ngIf="listNotif.length >= 1">{{
                        listNotif.length
                    }}</span>
                    <img alt="" src="/assets/icons/notif-deactivate.svg" />
                </button>
                <div
                    id="myDropdown"
                    class="dropdown-content"
                    [ngClass]="{ show: isDropdownOpen }"
                >
                    <a class="lable-notif">Notification</a>
                    <div class="cover-msg" >
                        <a *ngFor="let msg of listNotif">
                            <div class="notif-info">
                                <img
                                    class="icon-notif"
                                    alt=""
                                    src="/assets/icons/notification.svg"
                                />
                                <div class="msg-notif">
                                    <div *ngIf="msg.machine_name.length < 10">
                                        {{ msg.machine_name }}
                                    </div>
                                    <div *ngIf="msg.machine_name.length > 10">
                                        {{ msg.machine_name.slice(0, 10) }}..
                                    </div>
                                    <div *ngIf="msg.message.length < 10">
                                        {{ msg.message }}
                                    </div>
                                    <div *ngIf="msg.message.length > 10">
                                        {{ msg.message.slice(0, 10) }}..
                                    </div>
                                </div>
                            </div>
                            <div class="action-notif">
                                <div>{{ msg.date_time.slice(10, 16) }}</div>
                                <button (click)="notifDisablled(msg.id)">
                                    <img src="/assets/icons/exit.svg" alt="" />
                                </button>
                            </div>
                        </a>
                    </div>
                    <a
                        class="all-notif"
                        (click)="seeAllNotification()"
                        (click)="toggleDropdown()"
                        >See All Notifications</a
                    >
                </div>
            </div>
        </div>
    </div>
</nav>
