nav {
    width: 100%;
    background-color: #141517;
    box-sizing: border-box;
    height: 80px;
    border-radius: 10px;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    top: 0;
}

.navbar-left-area {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
        height: 24px;
        width: auto;
        cursor: pointer;
    }

    h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        margin: 0;
    }
}

.navbar-date {
    font-family: "Inter";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;

    span:nth-child(2),
    span:nth-child(3) {
        font-weight: 500;
    }
}

.navbar-right-area {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 80px;

    img {
        cursor: pointer;
    }
}
.wrapper-notification {
    overflow: auto;
    max-height: 15rem;

    .notification-msg {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        img {
            border-radius: 100%;
        }

        .left-span {
            position: absolute;
            left: 4rem;
            top: 3px;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            .label-title {
                font-weight: 800;
            }

            .lable-info {
                font-size: 0.9rem;
            }
        }

        .right-span {
            position: absolute;
            right: 0;
            top: 1rem;
        }
    }
}

.wrapper-notification::-webkit-scrollbar {
    width: 8px;
}

.wrapper-notification::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.wrapper-notification::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.wrapper-notification::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}
