<!-- <div class="container-fluid">
    <div class="row">
        <ahm-breadcrumbs [breadcrumbs]="breadcrumbs"></ahm-breadcrumbs>
    </div>
    <div *ngIf="!isDetail" class="row">
        <div class="col-4">
            <ahm-permissions-upsert (onSubmit)="onFinished()"
                                       [userManagement]="permissions"></ahm-permissions-upsert>
        </div>
        <div class="col-8">
            <ahm-permissions-list (onDetail)="onDetail($event)"
                                     (onEdit)="onEdit($event)"></ahm-permissions-list>
        </div>
    </div>
    <div *ngIf="isDetail" class="row">
        <ahm-permissions-detail (onFinished)="onFinished()"
                                   [userManagement]="permissions"></ahm-permissions-detail>
    </div>
</div> -->
