<div class="ahm-dialog">
    <div class="ahm-dialog-header">
        <h2>Setting Production Graph</h2>
        <p>Add Production Graph</p>
    </div>
    <div class="ahm-dialog-content" [formGroup]="formGroup">
        <div class="row">
            <div class="col-8">
                <label>Plan</label>
                <mat-form-field>
                    <input matInput formControlName="plan" appOnlyNumber>
                </mat-form-field>
            </div>
        </div>
        <div>
            <label>Date</label>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="date_time">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="ahm-dialog-footer">
        <button class="ahm-btn ahm-btn-cancel" (click)="cancel()">Cancel</button>
        <button class="ahm-btn ahm-btn-primary" (click)="save()">Save</button>
    </div>
</div>
