<div class="dashboard-header">
    <h5>MTBF</h5>
    <div class="dashboard-header-nav">
        <ahm-datepicker
            (dateChanged)="dateFilter = $event"
            [hideDayPreset]="true"
        ></ahm-datepicker>
        <button class="btn-settings" (click)="goToSettings()">
            <img alt="settings" src="/assets/icons/setting.svg" />
        </button>
    </div>
</div>
<div class="dashboard-content">
    <ahm-chart-maintenance-indicator-graph-mtbf
        [data]="chartData"
        [target]="200"
        dataType="value"
    ></ahm-chart-maintenance-indicator-graph-mtbf>
</div>
<div class="dashboard-footer justify-content-between">
    <div class="chart-legend">
        <ahm-dot color="success" type="line">MTBF</ahm-dot>
        <ahm-dot color="warning" type="line">Plan</ahm-dot>
    </div>
    <!-- <ahm-pagination (onPageChange)="onPageChange($event)"
                    [page]="page"
                    [totalPage]="machineList.length"></ahm-pagination> -->
</div>
