<div class="dashboard-header">
    <h5>
        Oil Level
        <span *ngIf="oilLevel">({{ this.machineList[this.page].name }})</span>
    </h5>
    <ahm-datepicker
        (dateChanged)="onFilterChanged($event)"
        [dateFilter]="dateFilter"
    ></ahm-datepicker>
</div>
<div class="dashboard-content">
    <ahm-chart-oil-level
        [data]="oilLevel"
        [maximum]="maximum"
        [warning]="warning"
        [minimum]="minimum"
    ></ahm-chart-oil-level>
</div>
<div class="dashboard-footer justify-content-between">
    <div class="chart-legend">
        <ahm-dot color="danger" type="line">Maximum</ahm-dot>
        <ahm-dot color="warning" type="line">Warning</ahm-dot>
        <ahm-dot color="success" type="line">Minimum</ahm-dot>
        <ahm-dot color="primary">Actual</ahm-dot>
    </div>
    <ahm-pagination
        (onPageChange)="onPageChange($event)"
        [page]="page"
        [totalPage]="machineList.length"
    ></ahm-pagination>
</div>
