<div class="dashboard-header">
    <h5>Press Load (Ton/Force)</h5>
    <div class="dashboard-header-nav">
        <ahm-datepicker (dateChanged)="onFilterChanged($event)"
                        [dateFilter]="dateFilter"></ahm-datepicker>
        <button class="btn-settings" (click)="goToSettings()">
            <img alt="settings" src="/assets/icons/setting.svg">
        </button>
        <button class="btn-download" (click)="download()">
            <img alt="download" src="/assets/icons/download.svg">
        </button>
    </div>
</div>
<div class="dashboard-content">
    <ahm-chart-detail-machine-press-load [data]="pressLoadList"></ahm-chart-detail-machine-press-load>
</div>
<div class="dashboard-footer">
    <div class="chart-legend">
        <ahm-dot color="primary">MMR</ahm-dot>
        <ahm-dot color="success">SMR</ahm-dot>
    </div>
</div>
