<div class="dashboard-header">
    <h5>Servo Load (A)</h5>
    <div class="dashboard-header-nav">
        <ahm-datepicker
            (dateChanged)="onFilterChanged($event)"
            [dateFilter]="dateFilter"
        ></ahm-datepicker>
        <button class="btn-settings" (click)="goToSettings()">
            <img alt="settings" src="/assets/icons/setting.svg" />
        </button>
        <button class="btn-download" (click)="download()">
            <img alt="download" src="/assets/icons/download.svg" />
        </button>
    </div>
</div>
<div class="dashboard-content">
    <ahm-chart-detail-machine-servo-load
        [data]="servoLoadList"
        [standard]="standard"
        [warning]="warning"
        [breakdown]="breakdown"
        [average]="average"
    ></ahm-chart-detail-machine-servo-load>
</div>
<div class="dashboard-footer">
    <div class="chart-legend">
        <ahm-dot type="line" color="success">Standard</ahm-dot>
        <ahm-dot type="line" color="warning">Warning</ahm-dot>
        <ahm-dot type="line" color="danger">Breakdown</ahm-dot>
        <ahm-dot type="line" color="primary">Average</ahm-dot>
        <ahm-dot type="line" color="greenmttrmtbf">Actual</ahm-dot>
    </div>
</div>
