<div class="master-list">
    <div class="master-header">
        <h2>List Schedule Maintenance</h2>
    </div>
    <div class="master-content">
        <div class="master-content-filter">
            <div class="content-flex">
                <button (click)="create()" class="ahm-btn ahm-btn-primary">
                    + Add Schedule
                </button>
                <input
                    #inputFile
                    (change)="upload($event)"
                    id="input-upload-file"
                    type="file"
                />
                <button
                    (click)="inputFile.click()"
                    class="ahm-btn ahm-btn-warning"
                >
                    <img alt="search" src="/assets/icons/upload.svg" />
                </button>
            </div>
            <div class="content-flex">
                <div class="ahm-input-wrapper">
                    <input
                        [formControl]="searchTerm"
                        placeholder="Search"
                        type="text"
                    />
                </div>
                <button
                    (click)="download()"
                    class="ahm-table-btn ahm-btn-primary"
                >
                    <img alt="download" src="/assets/icons/download.svg" />
                </button>
            </div>
        </div>
        <div class="ahm-table">
            <table (matSortChange)="sortData($event)" matSort>
                <tr>
                    <th>No</th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="plan">Plan</th>
                    <th mat-sort-header="startdate">Start Date</th>
                    <th mat-sort-header="actual">Actual</th>
                    <th mat-sort-header="enddate">End Date</th>
                    <th>Action</th>
                </tr>
                <tr class="tr-body" *ngFor="let data of maintenanceList; let index = index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ data.name | string }}</td>
                    <td>{{ data.plan | string }}</td>
                    <td>{{ data.start_date | string }}</td>
                    <td>{{ data.actual | string }}</td>
                    <td>{{ data.end_date | string }}</td>
                    <td>
                        <div class="ahm-table-action">
                            <button
                                (click)="ok(data)"
                                class="ahm-table-btn ahm-btn-primary"
                            >
                                Ok
                            </button>
                            <button
                                (click)="detail(data)"
                                class="ahm-table-btn ahm-btn-success"
                            >
                                <img alt="Detail" src="/assets/icons/eye.svg" />
                            </button>
                            <button
                                (click)="edit(data)"
                                class="ahm-table-btn ahm-btn-warning"
                            >
                                <img alt="Edit" src="/assets/icons/edit.svg" />
                            </button>
                            <button
                                (click)="delete(data)"
                                class="ahm-table-btn ahm-btn-danger"
                            >
                                <img
                                    alt="Delete"
                                    src="/assets/icons/delete.svg"
                                />
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <ahm-paginator
            (selectedLimit)="onSelectLimit($event)"
            (selectedPage)="onSelectPage($event)"
            [pagination]="pagination"
        ></ahm-paginator>
    </div>
</div>
