.master-list {
    min-height: 0;
    padding: 8px 0;

    h2 {
        font-size: 18px;
    }

    .master-content {
        padding-top: 16px;
    }

    .ahm-table {
        td {
            padding: 12px 8px;
        }

        tr:nth-child(2) td {
            padding-top: 16px;
        }
    }
}

#input-upload-file {
    display: none;
}
