<div class="container-fluid">
    <div class="row">
        <ahm-breadcrumbs [breadcrumbs]="breadcrumbs"></ahm-breadcrumbs>
    </div>
    <div *ngIf="!isDetail" class="row">
        <div class="col-4">
            <app-master-robot-upsert (onSubmit)="onFinished()" [masterData]="data"></app-master-robot-upsert>
        </div>
        <div class="col-8">
            <app-master-robot-list (onDetail)="onDetail($event)" (onEdit)="onEdit($event)"></app-master-robot-list>
        </div>
    </div>
    <div *ngIf="isDetail" class="row">
        <app-master-robot-detail (onFinished)="onFinished()" [data]="data"></app-master-robot-detail>
    </div>
</div>