<div class="user-management-upsert">
    <div class="user-management-header">
        <div>
            <h2>{{roleManagement ? 'Edit' : 'Add'}}</h2>
            <p>Please {{roleManagement ? 'edit' : 'add'}} subject data</p>
        </div>
        <div>
            <img alt="file" height="53" ngSrc="/assets/icons/file.svg" width="53">
        </div>
    </div>
    <div [formGroup]="formGroup" class="user-management-content">
        <div>
            <label>Role</label>
            <input formControlName="name" type="text">
        </div>
    </div>
    <div class="user-management-footer">
        <button (click)="submit()"
                class="ahm-btn ahm-btn-primary">Save
        </button>
    </div>

</div>
