<div class="dashboard-header">
    <h5>5 Top Frequency Machine Alarm</h5>
    <ahm-datepicker
        (dateChanged)="onFilterChanged($event)"
        [dateFilter]="dateFilter"
    ></ahm-datepicker>
</div>
<div class="dashboard-content">
    <ahm-chart-top-machine-alarm
        [data]="machineAlarms"
    ></ahm-chart-top-machine-alarm>
</div>
<div class="dashboard-footer">
    <div class="chart-legend">
        <ahm-dot color="danger" type="line">Alarm General</ahm-dot>
        <ahm-dot color="warning" type="line">Alarm Servo Feeder</ahm-dot>
    </div>
</div>
