<div class="content-flex mb-6" *ngIf="showTitleMachine; else showRobot">
  <h3>MC {{ machine.name }}</h3>
</div>

<ng-template #showRobot>
  <div class="content-flex mb-6 font-semibold">
      <a href="#" class="text-white">MC {{ machine.name }} Robot Master</a>
      <p>|</p>
      <a href="#" class="text-white">MC {{ machine.name }} Robot Slave</a>
  </div>
</ng-template>

<div class="grid">
    <div class="grid-item">
        <ahm-detail-machine [id]="id" [src]="imageDetailMachine"></ahm-detail-machine>
    </div>
    <div class="grid-item">
        <ahm-detail-top-machine-alarm [id]="id"></ahm-detail-top-machine-alarm>
    </div>
    <div class="grid-item">
        <ahm-detail-machine-press-load [id]="id"></ahm-detail-machine-press-load>
    </div>
    <div class="grid-item">
        <ahm-detail-machine-activity-machine [id]="id"></ahm-detail-machine-activity-machine>
    </div>
    <div class="grid-item">
        <ahm-detail-machine-history-alarm [id]="id"></ahm-detail-machine-history-alarm>
    </div>
    <div class="grid-item">
        <ahm-detail-machine-cnb-lub-oil-pressure [id]="id"></ahm-detail-machine-cnb-lub-oil-pressure>
    </div>
    <div class="grid-item">
        <ahm-detail-machine-production-graph [id]="id"></ahm-detail-machine-production-graph>
    </div>
    <div class="grid-item" *ngIf="showComponentNotLaserAndBoring">
      <ahm-detail-machine-running-hour-slave></ahm-detail-machine-running-hour-slave>
    </div>
    <div class="grid-item" *ngIf="showComponentLaser">
        <ahm-detail-machine-actual-maintenance [id]="id"></ahm-detail-machine-actual-maintenance>
    </div>
    <div class="grid-item" *ngIf="showComponentBoring">
        <ahm-detail-machine-actual-maintenance [id]="id"></ahm-detail-machine-actual-maintenance>
    </div>
    <div class="grid-item" *ngIf="showComponentLaser">
        <ahm-detail-machine-lub-oil-pressure [id]="id"></ahm-detail-machine-lub-oil-pressure>
    </div>
    <div class="grid-item" *ngIf="showComponentNotLaserAndBoring">
        <ahm-detail-machine-lub-oil-pressure [id]="id"></ahm-detail-machine-lub-oil-pressure>
    </div>
</div>
