ahm-chart-detail-machine-activity-machine {
    position: absolute;
    width: 150%;
    height: 100%;
}


.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.scroll-x::-webkit-scrollbar {
    height: 0px;
    background: transparent;
}