<div class="login-container">
    <div class="title-container">
        <img class="img-brand" src="/assets/images/honda-logo.png">
        <h1>DIGITALIZATION<br>SYSTEM P3 STEP 1</h1>
    </div>
    <div class="form-container">
        <div [formGroup]="formGroup">
            <h2>Login</h2>
            <div class="input-email">
                <input class="ahm-input" matInput placeholder="Enter your email or username" formControlName="email">
            </div>
            <div class="input-password">
                <input class="ahm-input" matInput placeholder="Password" type="password" formControlName="password">
            </div>
            <div>
                <button (click)="login()" class="ahm-btn-login w-100">Sign In.</button>
            </div>
        </div>
    </div>
</div>
