.login-container {
    display: flex;
    color: white;
    min-height: 100%;
}

.title-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 24px;
    background-color: rgba(0, 0, 0, 0.42);

    .img-brand {
        width: 173px;
        height: 139px;
    }

    h1 {
        font-size: 64px;
        font-weight: 800;
        line-height: 1.2em;
        letter-spacing: 0em;
        text-align: center;
        transition: 0.1s;
    }
}

.form-container {
    background-color: #201F1F;
    min-height: 100%;
    width: 494px;
    padding: 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        text-align: center;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 28px;
    }

    .input-email {
        margin-bottom: 20px;
    }

    .input-password {
        margin-bottom: 40px;
    }

    .ahm-btn {
        margin-bottom: 40px;
    }
}


@media only screen and (max-width: 1150px) {
    .login-container {
        flex-direction: column;
        width: 100%;
    }

    .title-container {
        h1 {
            font-size: 48px;
        }
    }

    .form-container {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .title-container {
        h1 {
            font-size: 30px;
            line-height: 1.3em;
        }
    }

    .form-container {
        width: 100%;
    }
}