@import "src/assets/styles/main";

html,
body {
    height: 100%;
    padding: 0;
    color: #ffffff;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Inter, "Helvetica Neue", sans-serif;
    background-color: black;
}

.datepicker-container {
    display: flex !important;
    width: 100%;
    max-width: 100% !important;
    background: #2e3034;
}

.cdk-overlay-connected-position-bounding-box {
    min-height: 800px;
}

.mat-mdc-menu-content {
    display: flex !important;
    width: 100%;
    max-width: 100% !important;
    height: 100% !important;
    padding: 28px 12px !important;
    flex-direction: column;
}

.content-flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: white !important;
    margin-bottom: 0 !important;
}

// .mdc-text-field {
//     border: 0.5px solid rgb(110, 110, 110);
//     border-radius: 6px;
// }

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 12px;
    padding-bottom: 12px;
}

.mat-mdc-icon-button {
    color: white !important;
}

.mat-mdc-form-field-infix {
    min-height: 40px;
    align-items: center;
    display: flex;
}

.mat-mdc-select {
    margin-block: auto;
    display: flex;
}

.mat-mdc-form-field-icon-suffix {
    scale: 0.75 !important;
    min-height: 0 !important;
}
