<div class="dashboard-header">
    <h5>Time Machine Detail</h5>
    <ahm-datepicker
        (dateChanged)="onFilterChanged($event)"
        [dateFilter]="dateFilter"
    ></ahm-datepicker>
</div>
<div class="dashboard-content">
    <ahm-chart-time-machine-detail
        [data]="chartData"
    ></ahm-chart-time-machine-detail>
</div>
<div class="dashboard-footer">
    <div class="chart-legend">
        <ahm-dot color="danger">Stop</ahm-dot>
        <ahm-dot color="warning">Idle</ahm-dot>
        <ahm-dot color="success">Running</ahm-dot>
    </div>
</div>
