<div class="master-list">
    <div class="master-header">
        <h2>List View Line</h2>
    </div>
    <div class="master-content">
        <table class="ahm-table">
            <tr>
                <th>Category Line</th>
                <th>Line</th>
                <th>Last Created</th>
            </tr>
            <tr>
                <td>{{ masterData.name_machine }}</td>
                <td>{{ masterData.name }}</td>
                <td>{{ masterData.created_at }}</td>
            </tr>
        </table>
    </div>
    <div class="master-footer">
        <button (click)="back()" class="ahm-btn ahm-btn-primary">Back</button>
    </div>
</div>
