<div class="master-upsert">
    <div class="master-header">
        <div>
            <h2>Setting</h2>
            <p>Please update setting data</p>
        </div>
        <div>
            <img alt="file" height="53" ngSrc="/assets/icons/file.svg" width="53">
        </div>
    </div>
    <div [formGroup]="formGroup" class="setting-content">
        <div>
            <label>Machine</label>
            <mat-form-field>
                <mat-select formControlName="machine_name">
                    <mat-option *ngFor="let machine of machineList" [value]="machine.name">{{machine.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <label>Subject</label>
            <mat-form-field>
                <mat-select formControlName="subject_name">
                    <mat-option *ngFor="let subject of subjectList" [value]="subject.name">{{subject.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <label>Unit</label>
            <mat-form-field>
                <input type="text" matInput formControlName="unit">
            </mat-form-field>
        </div>
        <div>
            <label>Setting</label>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="between">
                    <label>Minimum</label>
                    <label class="switch">
                        <input type="checkbox" formControlName="minimum_toggle">
                        <span class="slider"></span>
                    </label>
                </div>
                <mat-form-field>
                    <input type="number"
                           matInput
                           formControlName="minimum">
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="between">
                    <label>Medium</label>
                    <label class="switch">
                        <input type="checkbox" formControlName="medium_toggle">
                        <span class="slider"></span>
                    </label>
                </div>
                <mat-form-field>
                    <input type="number" matInput formControlName="medium">
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="between">
                    <label>Maximum</label>
                    <label class="switch">
                        <input type="checkbox" formControlName="maximum_toggle">
                        <span class="slider"></span>
                    </label>
                </div>
                <mat-form-field>
                    <input type="number" matInput formControlName="maximum">
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="between">
                    <label>Lower Limit</label>
                    <label class="switch">
                        <input type="checkbox" formControlName="lower_limit_toggle">
                        <span class="slider"></span>
                    </label>
                </div>
                <mat-form-field>
                    <input type="number" matInput formControlName="lower_limit">
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="between">
                    <label>Upper Limit</label>
                    <label class="switch">
                        <input type="checkbox" formControlName="upper_limit_toggle">
                        <span class="slider"></span>
                    </label>
                </div>
                <mat-form-field>
                    <input type="number" matInput formControlName="upper_limit">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="master-footer">
        <button (click)="submit()"
                class="ahm-btn ahm-btn-primary">Save
        </button>
    </div>

</div>
