<div class="dashboard-header">
    <h5>MTTR</h5>
    <div class="dashboard-header-nav">
        <ahm-datepicker
            (dateChanged)="onFilterChanged($event)"
            [hideDayPreset]="true"
            [dateFilter]="dateFilter"
        ></ahm-datepicker>
        <button class="btn-settings" (click)="goToSettings()">
            <img alt="settings" src="/assets/icons/setting.svg" />
        </button>
        <button class="btn-download" (click)="create()">
            <img alt="add" src="/assets/icons/add.svg" />
        </button>
    </div>
</div>
<div class="dashboard-content">
    <ahm-chart-maintenance-indicator-graph-mttr
        [data]="chartData"
        [target]="1.33"
        dataType="value"
    ></ahm-chart-maintenance-indicator-graph-mttr>
</div>
<div class="dashboard-footer justify-content-between">
    <div class="chart-legend">
        <ahm-dot color="success" type="line">MTBF</ahm-dot>
        <ahm-dot color="warning" type="line">Standart</ahm-dot>
    </div>
    <!-- <ahm-pagination (onPageChange)="onPageChange($event)"
                    [page]="page"
                    [totalPage]="machineList.length"></ahm-pagination> -->
</div>
